/*	CSc 4370 - Web Programming
	- Project 1
	- Cliff Chandler & Ali Shaheen
*/

body {
	background-image: url("pictures/pia18922.jpg");
	color: #EEF;
	font-size: 16pt;
}

a {
	color: #EEF;
}

p {
	font-size: 16pt;
}

.page_heading {
	color: #FFF;
	margin: 100px 100px 50px 100px;
}

.navigation, .navigation_home {
	background-color: rgba(160, 160, 160, 0.5);
}

.navigation li {
	font-size: 20px;
	min-width: 200px;
}

p.links a:visited {
	color: #EEF;
}

.content p {
	width: 90%;
	line-height: 20pt;
	text-align: justify;
}
.content_home p {
	width: 70%;
}

/* section to respond on mouse over/hover and click/active */
.mouseover {
	position: relative;
	display: block;
	width: 600px;
	height: 400px;
	background-image: url("pictures/rocket_pressure.gif");
	background-repeat: no-repeat;
}

/*active page*/
.active {
	background-color: #0EBFE9;
}

.trw-t{
	border: 3px solid black;
}

.trw-t{
	border: 3px solid black;
}

ul, div.content_home {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0 100px 0 100px;
}

ul.navigation_home {
	margin: 170px 100px 0 100px;
}


div.content_home, ul.content, div.content {
	background-color: rgba(140, 140, 140, 0.6);
	min-height: 250px;
	margin-top: 30px;
}

div.content_home h1 {
	margin-top: 50px;
}
div.content_home p {
	margin-top: 40px;
}

li {
    float: left;
    width: 16.666%;
}

li a {
    display: block;
    color: #EEF;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*Mouse hovering changes link background to white */
a:hover{
background-color: white;
}

/* the button that displays the gif of the SpaceX landing */
button {
	display: block;
	float: left;
	width: 480px;
	height: 268px;
	position:relative;	
}

button:active {
	background-image: url("pictures/landing.gif");
}

/* the vasimr image and gif */
.vasimr {
	width: 90%;
	height: 90%;
	margin: auto;
}

.vasimr img {
	height: 90%;
	margin: auto;
	margin-left: 10px;
}
